# Laboratorio 3(Regresion logistica One vs All) Grupo 1
 <h3>Implementacion del modelo de regresion logistica one-vs-all para realizar clasificacion de clases.<h3>
 <HR>
 <h3>
  NOMBRE: POLO ORELLANA BRAYAN SIMON <br>
  CARRERA: INGENIERIA DE SISTEMAS <BR>
  FECHA: 19/03/2024 <BR>

  * [Enlace de invitacion para ser colaborador](https://github.com/bspoloo/SIS420-012024/invitations)
  
  * [Enlace al git hub](https://github.com/bspoloo/SIS420-012024/tree/main/Laboratorios/Laboratorio%203)
  
  * [Enlace al Colab](https://colab.research.google.com/github/bspoloo/SIS420-012024/blob/main/Laboratorios/Laboratorio%203/Laboratorio%203.ipynb?hl=es)
  
 <h3>

Para el laboratorio se hizo uso del para entrenar el modelo de **Regresion Logistica one vs all** y dada la información relacionada con el crédito de una persona, se creo un modelo de aprendizaje automático que pueda clasificar el puntaje crediticio de una persona

 A lo largo de los años, se han recopilado datos bancarios básicos y mucha información relacionada con el crédito de varias personas. Se quiere construir un sistema inteligente para segregar a las personas en tramos de puntuación crediticia para reducir los esfuerzos manuales. Haciendo uso del siguiente dataset: [credit_score_classification_processed](https://www.kaggle.com/datasets/deepaksaipendyala/credit-score-classification-processed).

El archivo `credit_score.csv` contiene un conjunto de datos de entrenamiento para clasificar el puntaje crediticio de una persona.

## 1. Regresion Logistica One vs All

Importamos todas las librerias necesarias para el manejo del dataset.

In [526]:
# utilizando la libreria os para manejos de directorios
import os

# Computacion vectorial y cientifica para python
import numpy as np  

#importamos pandas para el manejo del dataset, y separarlos dentro de una matriz
import pandas as pd

#esta tabulate nos sirve para hacer tablas
from tabulate import tabulate

# Librerias para graficación (trazado de gráficos)
from matplotlib import pyplot
from mpl_toolkits.mplot3d import Axes3D  # -> Necesario para graficar superficies 3D

#Para separa el 20% y 80%
from sklearn.model_selection import train_test_split

# Modulo de optimizacion en scipy
from scipy import optimize

### 1.1 Cargamos los datos del dataset
cargamos los datos haciendo el uso de la libreria **Pandas** que  es una herramienta poderosa y versátil utilizada para manipulación y análisis de datos. Ofrece estructuras de datos flexibles y eficientes para trabajar con datos tabulares, como hojas de cálculo en Excel o tablas SQL.

In [527]:
#Haciendo uso de la libreria pandas para leer el dataset, delimitado por ","
dataset = pd.read_csv('credit_score.csv', delimiter=',')

#ahora tenemos un dataframe
#Imprimimos en una tabla el dataset para hacer un analisis mas claro.
dataset

,Unnamed: 0,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,1,2,23.000000,13,19114.12,4194.170850,3.0,4.0,3.000000,4.0,...,1,809.98,31.944960,0,1,49.574949,118.280222,3,284.629162,2
1,2,6,34.429817,13,19114.12,4194.170850,3.0,4.0,3.000000,4.0,...,1,809.98,28.609352,267,1,49.574949,81.699521,4,331.209863,2
2,3,0,23.000000,13,19114.12,4194.170850,3.0,4.0,3.000000,4.0,...,1,809.98,31.377862,268,1,49.574949,199.458074,5,223.451310,2
3,4,7,23.000000,13,19114.12,1824.843333,3.0,4.0,3.000000,4.0,...,1,809.98,24.797347,269,1,49.574949,41.420153,1,341.489231,2
4,5,5,23.000000,13,19114.12,4194.170850,3.0,4.0,3.000000,4.0,...,1,809.98,27.262259,270,1,49.574949,62.430172,6,340.479212,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79800,99991,1,29.000000,1,20002.88,1929.906667,10.0,8.0,29.000000,5.0,...,0,3571.70,37.140784,75,2,60.964772,34.662906,0,337.362988,1
79801,99993,2,25.000000,9,39628.99,3359.415833,4.0,6.0,7.000000,2.0,...,1,502.38,29.135447,376,1,58638.000000,180.733095,4,400.104466,1
79802,99997,5,25.000000,9,39628.99,3359.415833,4.0,6.0,14.546679,2.0,...,1,502.38,41.255522,380,1,35.104023,24.028477,0,516.809083,0
79803,99998,4,25.000000,9,39628.99,3359.415833,4.0,6.0,7.000000,2.0,...,1,502.38,33.638208,381,1,35.104023,251.672582,3,319.164979,1
79804,99999,1,25.000000,9,39628.99,3359.415833,4.0,6.0,7.000000,2.0,...,1,502.38,34.192463,382,1,35.104023,167.163865,6,393.673696,0

mostrando la tabla nos damos cuenta que nuestra Y a predicir es el **Credit_Score**, para tener una mejor vision de la cantidad de clases que existe, se hizo el siguiente codigo:

donde separamos nuestra columna Y con `value_counts()` este método de pandas cuenta el número de veces que aparece cada valor único en la columna **Credit_Score** del DataFrame. Devuelve una Serie pandas donde los índices son los valores únicos de la columna **Credit_Score** y los valores son el recuento de ocurrencias de cada valor.

In [528]:
#para contar cuantas clases contiene nuestra columna y
class_counts = dataset["Credit_Score"].value_counts()

#para contar cuantas caracteristicas tiene nuestro dataset, obviamente con sin contar nuestra y, por eso lo dropeamos
feactures_counts =dataset.drop(['Credit_Score'], axis=1)
feactures_counts = feactures_counts.shape[1]

print(f"la cantidad de caracteristicas es: { feactures_counts}")
print(f'la cantidad de clases es: 3')

#mostramos la cantidad de clases tiene, y en que cantidad
class_counts

la cantidad de caracteristicas es: 24
la cantidad de clases es: 3

Credit_Score
1    42470
0    23129
2    14206
Name: count, dtype: int64

### 1.3 Analisis del dataset:

Hay 3 clases diferentes de puntajes crediticios: etiquetados como 0, 1 y 2.

* La clase 1 parece ser la más común, seguida por la clase 0 y luego la clase 2.
* El recuento de cada clase es el siguiente:
    - Clase 0: 23129 personas.
    - Clase 1: 42470 personas.
    - Clase 2: 14206 personas.
* Este análisis de la distribución de los puntajes crediticios en el conjunto de datos es útil para comprender la proporción de cada clase. Esto puede ser relevante al desarrollar un modelo de clasificación como la Regresión Logística one vs all.

In [529]:
#almacenamos la cantidad de caracteristicas en una variable
input_layer_size  = feactures_counts;

#almacenamos la cantidad de clases en una variable
num_labels = 3;

### 1.3 Separacion de datos
Se debe tomar en cuenta que cada clase tiene su propia cantidad, por lo cual separarlos directamente en un 80% para entrenamiento y un 20% para test no seria tan efectivo, ya que puede que en el 80% hay mas datos de una clase que las otras, provocando que nuestro modelo no conozca mucho sobre esa clase, por lo cual debe separarse un 80% para entrenamiento y un 20% para pruebas de cada clase.

Para este hacemos uso de la libreria **train_test_split**

In [530]:
# hacemos uso del DataFrame llamado 'dataset' que contiene nuestros datos datos
# y es la columna que contiene las etiquetas de clase (en este caso, 'Credit_Score')

#creamos una variable temporal que contentra toda la columna de 'Credit_Score'
y_temp = dataset['Credit_Score']

# Para la clase 0

#donde y_temp es igual a 0, separamos los datos en train_class_0, test_class_0
data_class_0 = dataset[y_temp == 0]
train_class_0, test_class_0 = train_test_split(data_class_0, test_size=0.2, random_state=42)

# Para la clase 1

#donde y_temp es igual a 1, separamos los datos en train_class_1, test_class_1
data_class_1 = dataset[y_temp == 1]
train_class_1, test_class_1 = train_test_split(data_class_1, test_size=0.2, random_state=42)

# Para la clase 2

#donde y_temp es igual a 2, separamos los datos en train_class_2, test_class_2
data_class_2 = dataset[y_temp == 2]
train_class_2, test_class_2 = train_test_split(data_class_2, test_size=0.2, random_state=42)

haciendo conteo de separacion de datos:

In [531]:
print(f"Para la clase 0 tenemos una cantidad de: { data_class_0.shape[0]} donde el 80% es: {train_class_0.shape[0]} y el 20% es: {test_class_0.shape[0]}")
print(f"Para la clase 1 tenemos una cantidad de: { data_class_1.shape[0]} donde el 80% es: {train_class_1.shape[0]} y el 20% es: {test_class_1.shape[0]}")
print(f"Para la clase 2 tenemos una cantidad de: { data_class_2.shape[0]} donde el 80% es: {train_class_2.shape[0]} y el 20% es: {test_class_2.shape[0]}")
print(f"La cantidad total de datos es: {dataset.shape[0]}")

Para la clase 0 tenemos una cantidad de: 23129 donde el 80% es: 18503 y el 20% es: 4626
Para la clase 1 tenemos una cantidad de: 42470 donde el 80% es: 33976 y el 20% es: 8494
Para la clase 2 tenemos una cantidad de: 14206 donde el 80% es: 11364 y el 20% es: 2842
La cantidad total de datos es: 79805

Separamos cada uno en sus X_train, y_train, X_test y y_test respectivos:

In [532]:
#para la parte de entrenamiento, separamos las caracteristicas de la etiqueta

#para la clase 0
X_train_class_0 = train_class_0.drop(['Credit_Score'], axis=1)
y_train_class_0 = train_class_0['Credit_Score']

#para la clase 1
X_train_class_1 = train_class_1.drop(['Credit_Score'], axis=1)
y_train_class_1 = train_class_1['Credit_Score']

#para la clase 2
X_train_class_2 = train_class_2.drop(['Credit_Score'], axis=1)
y_train_class_2 = train_class_2['Credit_Score']

#ahora para la parte de pruebas, separamos las caracteristicas de la etiqueta
#para la clase 0
X_test_class_0 = test_class_0.drop(['Credit_Score'], axis=1)
y_test_class_0 = test_class_0['Credit_Score']

#para la clase 1
X_test_class_1 = test_class_1.drop(['Credit_Score'], axis=1)
y_test_class_1 = test_class_1['Credit_Score']

#para la clase 2
X_test_class_2 = test_class_2.drop(['Credit_Score'], axis=1)
y_test_class_2 = test_class_2['Credit_Score']

ahora unimos todos en una sola matriz para X y y:
pero luego debemos mezclar los datos, haciendo uso de ``np.random.permutation(len(X))`` genera un arreglo de índices permutados aleatoriamente.
Luego, estos índices se usan para reorganizar tanto las características como las etiquetas de entrenamiento y prueba.

In [533]:
#separando los datos de entrenamiento y pruebas

#para los datos de entrenamiento
X_train = pd.concat([X_train_class_0, X_train_class_1, X_train_class_2]).values
y_train = pd.concat([y_train_class_0, y_train_class_1, y_train_class_2]).values


indices_train = np.random.permutation(len(X_train))
X_train = X_train[indices_train]
y_train = y_train[indices_train]
m_train = len(y_train)

#para los datos de pruebas
X_test = pd.concat([X_test_class_0, X_test_class_1, X_test_class_2]).values
y_test = pd.concat([y_test_class_0, y_test_class_1, y_test_class_2]).values

indices_test = np.random.permutation(len(X_test))
X_test = X_test[indices_test]
y_test = y_test[indices_test]
m_test = len(y_test)

Visualizamos algunos datos:

In [534]:
print('{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>6s}'.format(
    'X[:,0]', 'X[:, 1]', 'X[:, 2]', 'X[:, 3]', 'X[:, 4]', 'X[:, 5]', 'X[:, 6]', 'X[:, 7]', 'X[:, 8]', 'X[:, 9]', 'X[:, 10]', 'X[:, 11]', 'X[:, 12]', 
    'X[:, 13]', 'X[:, 14]', 'X[:, 15]', 'X[:, 16]', 'X[:, 17]', 'X[:, 18]', 'X[:, 19]', 'X[:, 20]', 'X[:, 21]', 'X[:, 22]', 'X[:, 23]','Y'
))
print('-' * 250)

for i in range(10):
    print('{:10.0f}{:10.0f}{:10.0f}{:10.0f}{:10.0f}{:10.0f}{:8.0f}{:10.0f}{:10.0f}{:10.0f}{:10.0f}{:10.0f}{:10.0f}{:10.0f}{:10.0f}{:10.0f}{:10.0f}{:10.0f}{:10.0f}{:10.0f}{:10.0f}{:10.0f}{:10.0f}{:10.0f}{:8.0f}'.format(
        X_train[i, 0],
        X_train[i, 1],
        X_train[i, 2], 
        X_train[i, 3], 
        X_train[i, 4], 
        X_train[i, 5], 
        X_train[i, 6], 
        X_train[i, 7], 
        X_train[i, 8], 
        X_train[i, 9], 
        X_train[i, 10],
        X_train[i, 11],
        X_train[i, 12], 
        X_train[i, 13], 
        X_train[i, 14], 
        X_train[i, 15], 
        X_train[i, 16],
        X_train[i, 17],
        X_train[i, 18],
        X_train[i, 19], 
        X_train[i, 20], 
        X_train[i, 21], 
        X_train[i, 22], 
        X_train[i, 23],
        y_train[i]
    ))

#mostramos la cantidad de ejemplos
print(" ")
print('El 80% de ejemplos para entrenamiento son la cantidad de: {:.0f} de ejemplos'.format( len(X_train)))
print('El 20% de ejemplos para pruebas son la cantidad de: {:.0f} de ejemplos'.format(  len(X_test)))

    X[:,0]   X[:, 1]   X[:, 2]   X[:, 3]   X[:, 4]   X[:, 5]   X[:, 6]   X[:, 7]   X[:, 8]   X[:, 9]  X[:, 10]  X[:, 11]  X[:, 12]  X[:, 13]  X[:, 14]  X[:, 15]  X[:, 16]  X[:, 17]  X[:, 18]  X[:, 19]  X[:, 20]  X[:, 21]  X[:, 22]  X[:, 23]     Y
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
     92452         7        28         9     35176      2815       4         6         8         4      5249        32        20      3242         1         2       235        26       191         2       105        80         6       347       1
     12838         4        29         9     33900      4194       6         5        12         3      5107        22        20      1681      1166         2       593        32       230         0        57        57         1       414       2
     53808         3        41         8     88710      7636       4         5        11         0      6260        15        12      4144         0         1      1452        37       285         1         0       301         2       722       2
      5785         2        53        12     66175      5264       8         7        18         4      6150        19        10      1106         4         2       951        35       246         1       151       637         6       508       1
     61556         7        34         2     43922      3869       2         6         6         3      6024         0         7      4095         1         1       234        29       271         1        67       237         2       344       2
     23854         4        43         8      7435      4194       8        10        19         6      4961        21        16      2512        11         0      3854        39        61         2     71938        18         5       278       0
     81896         3        45         9    156470     12849       1         3         8         3      3051        10         5      2172         3         1      1382        33       392         1       262      1172         4       131       2
     46590         4        24         2     43904      3935       4         4        15         7       853         7         9      1656         9         2      1385        25       206         0       250       345         4        78       1
     73130         6        53         2    116058      9504       7         3        18         4      1404         6         9      1103         8         2       244        39       203         1       100       620         3       500       1
     16909         5        32         9     43978      4194       6         7         9         2      1401        27        19      3881         1         2      1103        35       211         2        69       245         4       332       1

El 80% de ejemplos para entrenamiento son la cantidad de: 63843 de ejemplos
El 20% de ejemplos para pruebas son la cantidad de: 15962 de ejemplos

### 1.2 Normalización de caracteristicas

Al visualizar los datos se puede observar que las caracteristicas tienen diferentes magnitudes, por lo cual se debe transformar cada valor en una escala de valores similares, esto con el fin de que el descenso por el gradiente pueda converger mas rapidamente. Se aplica la normalizacion esto debido a que los datos de las X estan a diferentes escalas.

Hacemos el uso de la siguiente funcion para normalizar los datos de las columnas X:

In [535]:
def  featureNormalize(X):
    X_norm = X.copy()

    #creamos un array de ceros con una longitud igual al número de columnas en el array X. La variable mu y sigma se inicializa como este array de ceros.
    mu = np.zeros(X.shape[1])
    sigma = np.zeros(X.shape[1])

    #Creamos el promedio de cada columna de X
    mu = np.mean(X, axis = 0)
    sigma = np.std(X, axis = 0)
    
    sigma[sigma == 0] = 1
    
    #normalizamos los datos con la siguiente formula
    X_norm = (X - mu) / sigma

    return X_norm, mu, sigma

Normalizando las caracteristicas:

In [536]:
X_norm, mu, sigma= featureNormalize(X_train)

# imprimir todos las X_norm de datos solo 10
print('{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>10s}{:>6s}'.format(
    'X[:,0]', 'X[:, 1]', 'X[:, 2]', 'X[:, 3]', 'X[:, 4]', 'X[:, 5]', 'X[:, 6]', 'X[:, 7]', 'X[:, 8]', 'X[:, 9]', 'X[:, 10]', 'X[:, 11]', 'X[:, 12]', 
    'X[:, 13]', 'X[:, 14]', 'X[:, 15]', 'X[:, 16]', 'X[:, 17]', 'X[:, 18]', 'X[:, 19]', 'X[:, 20]', 'X[:, 21]', 'X[:, 22]', 'X[:, 23]','Y'
))
print('-' * 250)

for i in range(10):
    print('{:10.2f}{:10.2f}{:10.2f}{:10.2f}{:10.2f}{:10.2f}{:10.2f}{:10.2f}{:10.2f}{:10.2f}{:10.2f}{:10.2f}{:10.2f}{:10.2f}{:10.2f}{:10.2f}{:10.2f}{:10.2f}{:10.2f}{:10.2f}{:10.2f}{:10.2f}{:10.2f}{:10.2f}{:8.0f}'.format(
        X_norm[i, 0],
        X_norm[i, 1],
        X_norm[i, 2], 
        X_norm[i, 3], 
        X_norm[i, 4], 
        X_norm[i, 5], 
        X_norm[i, 6], 
        X_norm[i, 7], 
        X_norm[i, 8], 
        X_norm[i, 9], 
        X_norm[i, 10],
        X_norm[i, 11],
        X_norm[i, 12], 
        X_norm[i, 13], 
        X_norm[i, 14], 
        X_norm[i, 15], 
        X_norm[i, 16],
        X_norm[i, 17],
        X_norm[i, 18],
        X_norm[i, 19], 
        X_norm[i, 20], 
        X_norm[i, 21], 
        X_norm[i, 22], 
        X_norm[i, 23],
        y_train[i]
    ))

    X[:,0]   X[:, 1]   X[:, 2]   X[:, 3]   X[:, 4]   X[:, 5]   X[:, 6]   X[:, 7]   X[:, 8]   X[:, 9]  X[:, 10]  X[:, 11]  X[:, 12]  X[:, 13]  X[:, 14]  X[:, 15]  X[:, 16]  X[:, 17]  X[:, 18]  X[:, 19]  X[:, 20]  X[:, 21]  X[:, 22]  X[:, 23]     Y
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
      1.47      1.53     -0.66      0.33     -0.10     -0.47     -0.47     -0.00     -0.75      0.18      0.88      0.73     -0.05      0.59     -0.14      0.97     -1.03     -1.17     -0.09      0.86     -0.16     -0.28      1.52     -0.26       1
     -1.29      0.22     -0.56      0.33     -0.10     -0.00      0.20     -0.21     -0.29     -0.22      0.81      0.06     -0.05     -0.68      6.00      0.97     -0.72      0.03      0.25     -2.02     -0.16     -0.29     -1.01      0.05       2
      0.13     -0.21      0.68      0.11     -0.06      1.17     -0.47     -0.21     -0.40     -1.45      1.39     -0.41     -0.09      1.32     -0.14     -0.27      0.02      0.98      0.73     -0.58     -0.17     -0.17     -0.51      1.50       2
     -1.53     -0.65      1.92      0.98     -0.08      0.36      0.88      0.47      0.40      0.18      1.34     -0.14     -0.10     -1.15     -0.12      0.97     -0.41      0.52      0.39     -0.58     -0.15     -0.00      1.52      0.49       1
      0.40      1.53      0.00     -1.19     -0.09     -0.11     -1.15      0.13     -0.98     -0.22      1.28     -1.42     -0.11      1.28     -0.14     -0.27     -1.03     -0.73      0.61     -0.58     -0.16     -0.20     -0.51     -0.28       2
     -0.91      0.22      0.88      0.11     -0.12     -0.00      0.88      1.48      0.51      1.00      0.74     -0.01     -0.07     -0.01     -0.09     -1.51      2.09      1.33     -1.22      0.86      8.47     -0.31      1.01     -0.59       0
      1.11     -0.21      1.09      0.33     -0.02      2.95     -1.49     -0.89     -0.75     -0.22     -0.23     -0.75     -0.12     -0.28     -0.13     -0.27     -0.04      0.17      1.67     -0.58     -0.14      0.26      0.51     -1.28       2
     -0.12      0.22     -1.08     -1.19     -0.09     -0.09     -0.47     -0.55      0.05      1.41     -1.34     -0.95     -0.10     -0.70     -0.10      0.97     -0.04     -1.43      0.04     -2.02     -0.14     -0.15      0.51     -1.53       1
      0.80      1.09      1.92     -1.19     -0.05      1.81      0.54     -0.89      0.40     -0.00     -1.06     -1.01     -0.10     -1.15     -0.10      0.97     -1.02      1.38      0.02     -0.58     -0.16     -0.01      0.00      0.45       1
     -1.15      0.66     -0.25      0.33     -0.09     -0.00      0.20      0.47     -0.63     -0.63     -1.07      0.40     -0.05      1.10     -0.14      0.97     -0.28      0.59      0.09      0.86     -0.16     -0.20      0.51     -0.33       1

### 1.3 Creacion de la funcion Sigmoide
También conocida como la función logística, es una función matemática que toma cualquier número real como entrada y devuelve un valor en el rango de 0 a 1. Donde nuestra **Z** es nuestra hipotesis.

Creando la funcion:

In [537]:
def sigmoid(z):
    z = np.array(z)

    g = np.zeros(z.shape)

    g = 1 / (1 + np.exp(-z))

    return g

### 1.4 Vectorización de regresión logística

#### 1.3.1 Vectorización de la funcion de costo

In [538]:
def lrCostFunction(theta, X, y, lambda_):
    #cremos una variable m que contiene la longitud de y
    m = y.size

    # convierte las etiquetas a valores enteros si son boleanos
    if y.dtype == bool:
        y = y.astype(int)

    #inicializamos J y grad
    J = 0
    grad = np.zeros(theta.shape)

    #calculamos h haciendo uso de la funcion sigmoid
    h = sigmoid(X.dot(theta.T))

    temp = theta
    temp[0] = 0

#     J = (1 / m) * np.sum(-y.dot(np.log(h)) - (1 - y).dot(np.log(1 - h)))
    J = (1 / m) * np.sum(-y.dot(np.log(h)) - (1 - y).dot(np.log(1 - h))) + (lambda_ / (2 * m)) * np.sum(np.square(temp))

    grad = (1 / m) * (h - y).dot(X)
#     theta = theta - (alpha / m) * (h - y).dot(X)
    grad = grad + (lambda_ / m) * temp

    return J, grad

## 1.4 Clasificacion One-vs-All

In [539]:
def oneVsAll(X, y, num_labels, lambda_):
    # algunas variables utiles
    m, n = X.shape

    all_theta = np.zeros((num_labels, n + 1))

    # Agrega unos a la matriz X
    X = np.concatenate([np.ones((m, 1)), X], axis=1)

    for c in np.arange(num_labels):
        initial_theta = np.zeros(n + 1)
        options = {'maxiter': 50}
        res = optimize.minimize(lrCostFunction,
                                initial_theta,
                                (X, (y == c), lambda_),
                                jac=True,
                                method='CG',
                                options=options)

        all_theta[c] = res.x

    return all_theta

In [540]:
lambda_ = 0.005
all_theta = oneVsAll(X_norm, y_train, num_labels, lambda_)
print(all_theta.shape)

(3, 25)

In [541]:
for i in range(all_theta.shape[1]):
    print("Thetha",i," para la clase 0:", all_theta[0,i]," ; ", "Thetha",i," para la clase 1:", all_theta[1,i]," ; ", "Thetha",i," para la clase 2:", all_theta[2,i])

Thetha 0  para la clase 0: -1.0816784883074766  ;  Thetha 0  para la clase 1: 0.14286616335560176  ;  Thetha 0  para la clase 2: -2.371160789101217
Thetha 1  para la clase 0: -0.020633914276253634  ;  Thetha 1  para la clase 1: 0.01702527977832005  ;  Thetha 1  para la clase 2: -0.009365204089549517
Thetha 2  para la clase 0: 0.0014147414700806155  ;  Thetha 2  para la clase 1: 0.016848208875444106  ;  Thetha 2  para la clase 2: -0.03735205756286588
Thetha 3  para la clase 0: -0.06068367988408213  ;  Thetha 3  para la clase 1: 0.0071295601585379415  ;  Thetha 3  para la clase 2: 0.04985254637727971
Thetha 4  para la clase 0: 0.006882137377106501  ;  Thetha 4  para la clase 1: -0.0009403914407025093  ;  Thetha 4  para la clase 2: -0.01493187777895309
Thetha 5  para la clase 0: -0.024970237891034145  ;  Thetha 5  para la clase 1: 0.021184829003999563  ;  Thetha 5  para la clase 2: -0.0010891823117569145
Thetha 6  para la clase 0: -0.09469458844833442  ;  Thetha 6  para la clase 1: -0.0041860100865389405  ;  Thetha 6  para la clase 2: 0.12315158326537272
Thetha 7  para la clase 0: -0.020467301502250578  ;  Thetha 7  para la clase 1: 0.1596706290158254  ;  Thetha 7  para la clase 2: -0.0448440663944207
Thetha 8  para la clase 0: 0.1575647123425183  ;  Thetha 8  para la clase 1: 0.02598540854052526  ;  Thetha 8  para la clase 2: -0.6244197079037799
Thetha 9  para la clase 0: 0.5459898702221996  ;  Thetha 9  para la clase 1: -0.20749530349881432  ;  Thetha 9  para la clase 2: -0.582097019708763
Thetha 10  para la clase 0: 0.06168160860431948  ;  Thetha 10  para la clase 1: 0.05711600833803099  ;  Thetha 10  para la clase 2: -0.21436102657796213
Thetha 11  para la clase 0: -0.025352526575469277  ;  Thetha 11  para la clase 1: 0.02550786233851899  ;  Thetha 11  para la clase 2: -0.01721486111173033
Thetha 12  para la clase 0: 0.308585638280742  ;  Thetha 12  para la clase 1: -0.004965509053927748  ;  Thetha 12  para la clase 2: -0.624710636030014
Thetha 13  para la clase 0: 0.0008448065767767003  ;  Thetha 13  para la clase 1: 0.010365465858348744  ;  Thetha 13  para la clase 2: -0.01769446418299466
Thetha 14  para la clase 0: 0.032410079961437785  ;  Thetha 14  para la clase 1: -0.029531209243321244  ;  Thetha 14  para la clase 2: 0.01542190788158924
Thetha 15  para la clase 0: 0.0048880083680471744  ;  Thetha 15  para la clase 1: -0.0007764046945088595  ;  Thetha 15  para la clase 2: -0.008132504754934643
Thetha 16  para la clase 0: -0.2183584314387831  ;  Thetha 16  para la clase 1: 0.7230715501284092  ;  Thetha 16  para la clase 2: -0.9662739447508552
Thetha 17  para la clase 0: 0.011030675782834315  ;  Thetha 17  para la clase 1: 0.12253101279916034  ;  Thetha 17  para la clase 2: -0.42165472880462196
Thetha 18  para la clase 0: 0.010685950096118958  ;  Thetha 18  para la clase 1: -0.006585867178685694  ;  Thetha 18  para la clase 2: -0.007171246085660667
Thetha 19  para la clase 0: -0.1120984770271363  ;  Thetha 19  para la clase 1: -0.006407801113326701  ;  Thetha 19  para la clase 2: 0.13028213612137493
Thetha 20  para la clase 0: 0.02802974807329141  ;  Thetha 20  para la clase 1: 0.11193250756913102  ;  Thetha 20  para la clase 2: -0.22134790256647038
Thetha 21  para la clase 0: -0.00934375468904995  ;  Thetha 21  para la clase 1: 0.006963933466300819  ;  Thetha 21  para la clase 2: -0.0036587667983446035
Thetha 22  para la clase 0: -0.0011059282269341299  ;  Thetha 22  para la clase 1: -0.00978924293475547  ;  Thetha 22  para la clase 2: 0.02224521136852566
Thetha 23  para la clase 0: 0.16307507276928662  ;  Thetha 23  para la clase 1: -0.04465053568406297  ;  Thetha 23  para la clase 2: -0.18492580208797368
Thetha 24  para la clase 0: 0.12755390033996047  ;  Thetha 24  para la clase 1: 0.005821941943697966  ;  Thetha 24  para la clase 2: -0.19919539534421973

#### 1.4.1 Prediccion One-vs-all

In [542]:
def predictOneVsAll(all_theta, X):
    m = X.shape[0];
    num_labels = all_theta.shape[0]

    p = np.zeros(m)

    # Add ones to the X data matrix
    X = np.concatenate([np.ones((m, 1)), X], axis=1)
    p = np.argmax(sigmoid(X.dot(all_theta.T)), axis = 1)

    return p

In [543]:
# print(X_test.shape)
pred = predictOneVsAll(all_theta, X_norm)
print('Precision del conjuto de entrenamiento: {:.2f}%'.format(np.mean(pred == y_train) * 100))

Precision del conjuto de entrenamiento: 62.02%

In [544]:

X_test = (X_test - mu) / sigma
X_test = np.concatenate([np.ones((len(X_test), 1)), X_test], axis=1)

print(X_test.shape)

p = np.argmax(sigmoid(X_test.dot(all_theta.T)), axis = 1)

for i in range(30):
    print(f"Prediccion: {p[i]}, Real: {y_test[i]}")

(15962, 25)
Prediccion: 1, Real: 0
Prediccion: 2, Real: 2
Prediccion: 0, Real: 0
Prediccion: 1, Real: 1
Prediccion: 1, Real: 1
Prediccion: 0, Real: 0
Prediccion: 1, Real: 1
Prediccion: 1, Real: 0
Prediccion: 1, Real: 1
Prediccion: 0, Real: 0
Prediccion: 2, Real: 2
Prediccion: 1, Real: 1
Prediccion: 1, Real: 0
Prediccion: 1, Real: 1
Prediccion: 1, Real: 1
Prediccion: 1, Real: 1
Prediccion: 2, Real: 2
Prediccion: 1, Real: 1
Prediccion: 0, Real: 0
Prediccion: 1, Real: 2
Prediccion: 1, Real: 2
Prediccion: 0, Real: 1
Prediccion: 1, Real: 1
Prediccion: 1, Real: 0
Prediccion: 1, Real: 1
Prediccion: 1, Real: 2
Prediccion: 2, Real: 0
Prediccion: 2, Real: 2
Prediccion: 2, Real: 1
Prediccion: 1, Real: 1